@model Marketer.Query.Queries.Orders.OrderQueryVM
@using Framework.Application

@{
    ViewData["Title"] = "سبد خرید";
}

<div class="container basket my-5">
    <div class="basket-title">
        <p class="h6">محصولات اضافه شده</p>
    </div>
    <hr>

    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="basket-details">
                <div class="basket-details-title">
                    <p class="h6">جمع سبد خرید : <span>@Model.TotalPrice.ToMoney() تومان</span></p>
                </div>
                <hr>
                <div class="basket-details-title">
                    <p>تعداد محصولات : <span>@Model.ItemsCount</span></p>
                </div>
                <hr>
                <a href="" class="btn btn-secondary w-100">ثبت</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-8">
            <table class="table w-100" style="text-align: center;" dir="rtl">
                <tr>
                    <th>#</th>
                    <th>عکس</th>
                    <th>(تومان)قیمت</th>
                    <th>تعداد</th>
                    <th>مجموع</th>
                </tr>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            <i class="fa fa-times text-danger"></i>
                        </td>
                        <td class="image-table">
                            <img src="~/Pictures/@item.Product.Picture" alt="@item.Product.PictureAlt" title="@item.Product.PictureTitle">
                        </td>
                        <td>@item.Product.PurchasePrice.ToMoney()</td>
                        <td>
                            <input type="number" value="@item.Count" id="quantity" name="quantity" style="width: 3rem;">
                        </td>
                        <td>@item.PayAmount.ToMoney() تومان</td>
                    </tr>
                }


            </table>
        </div>

    </div>
</div>