@model Marketer.Query.Queries.Orders.OrderQueryVM
@using Framework.Application

@{
    ViewData["Title"] = "سبد خرید";
}

<div class="container basket my-5">
    <div class="basket-title">
        <p class="h6">محصولات اضافه شده</p>
    </div>
    <hr>
    <div class="text-center">
        <p class="alert alert-warning">سلام</p>
    </div>

    <div class="row">

        <from class="col-sm-12 col-md-3">
            <div class="basket-details">
                <div class="basket-details-title">
                    <p class="h6">جمع سبد خرید : <span>@Model.PayAmount.ToMoney() تومان</span></p>
                </div>
                <hr>
                <div class="basket-details-title">
                    <p>تعداد محصولات : <span>@Model.ItemsCount</span></p>
                </div>
                <hr>
                <a href="" class="btn btn-secondary w-100">ثبت</a>
            </div>
        </from>

        <div class="col-sm-12 col-md-8">
            <table class="table w-100" style="text-align: center;" dir="rtl">
                <tr>
                    <th>#</th>
                    <th>عکس</th>
                    <th>قیمت(تومان)</th>
                    <th>تخفیف(تومان)</th>
                    <th>تعداد</th>
                </tr>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            <a asp-area="" asp-action="Delete" asp-route-id="@item.Id" asp-route-productId="@item.ProductId">
                                <i class="fa fa-times text-danger"></i>
                            </a>

                        </td>
                        <td class="image-table">
                            <a asp-controller="Product" asp-action="Detail" asp-route-slug="@item.Product.Slug">
                                <img src="~/Pictures/@item.Product.Picture" alt="@item.Product.PictureAlt" title="@item.Product.PictureTitle">
                            </a>
                        </td>
                        <td>@item.Product.PurchasePrice.ToMoney()</td>
                        <td>@item.DiscountPrice.ToMoney()</td>
                        <td>
                            <input type="number"  value="@item.Count" id="quantity" min="1" name="quantity" style="width: 3rem;">
                        </td>
                    </tr>
                }


            </table>
        </div>


    </div>
</div>