<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @if (!string.IsNullOrWhiteSpace(ViewData["Title"].ToString()))
    {
        <title>مهرداد | @ViewData["Title"]</title>
    }
    else
    {
        <title>مهرداد</title>
    }

    <title>@TempData["Title"]</title>

    <meta name="keywords" content="@ViewData["Keyword"]" />
    <meta name="description" content="@ViewData["Meta"]" />

    <partial name="_HeaderReferencePV" />

</head>

<body>

    <!-- ! header -->
    @await Component.InvokeAsync("SiteHeader")

    @RenderBody()

    <!-- ! footer -->
    @await Component.InvokeAsync("SiteFooter")

    @await Component.InvokeAsync("SiteResponsiveMenu")

    <partial name="_FooterReferencePV" />
    <partial name="_SiteMessage" />
    <partial name="_ValidationScriptsPartial" />

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>